name: "Compile CV and Upload"

on:
  push

jobs:
  build-and-deploy:
    if: "contains(github.event.head_commit.message, '>build')"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Nix
      uses: cachix/install-nix-action@v18
      with:
        extra_nix_config: |
          access-tokens = github.com=${{ secrets.GITHUB_TOKEN }}
    - name: Setup Git
      run: |
            echo Setting up git user config...
            git config --global user.name "cv-builder"
            git config --global user.email "vitalii.voloshyn+cv@gmail.com"
            git config submodule.public.url "https://panaeon:${{ secrets.GITHUB_TOKEN }}@gist.github.com/0c863d698db4797b36fb40efd4024296.git"
            git config submodule.public.branch main
            git submodule update --init --remote --merge
            #git checkout ${GITHUB_REF##*/}
    - name: Compile CV
      run: nix build
    #- name: Deploy
    #  uses: exuanbo/actions-deploy-gist@v1.1.3
    #  with:
    #    token: ${{ secrets.GITHUB_TOKEN }}
    #    gist_id: 0c863d698db4797b36fb40efd4024296
    #    file_path: ./result
    #    gist_file_name: cv.pdf
    #    file_type: binary
    - name: Push CV
      run: |
            cp result public/cv.pdf
            commit=$(git log -1 --abbrev-commit --oneline | cut -f1 -d " ")
            pushd public
            git add .
            git commit -m "Update gist to track commit PanAeon/cv@$commit"
            git rebase HEAD main
            git push --repo="https://panaeon:${{ secrets.GITHUB_TOKEN }}@gist.github.com/0c863d698db4797b36fb40efd4024296.git"
            popd
            git add public
            git commit -m "(Public) updated gist"
            echo "Done!"
    - name: Push changes
      uses: ad-m/github-push-action@master
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
